snippet reactTest
import React from "react";
import { mount } from "enzyme";
import ${1:`!v expand('%:h:t')`} from ".";

test("$2", () => {
  const wrapper = mount(<$1 $3);
  const text = wrapper.text()

  expect(text).toContain($4);
});
endsnippet
