snippet reactStory
import React from "react";
import { storiesOf } from "@storybook/react";
import ${1:`!v expand('%:h:t')`} from ".";

storiesOf("$1", module)
  .add("$2", () => (
    $0
  ));
endsnippet
