snippet reactComponentWithState
import React, { Component } from "react";

class ${1:`!v expand('%:h:t')`} extends Component {
  state = { 
    $2
  };

  render() {
    return (
      $0
    );
  }
}

export default $1;
endsnippet
