[user]
  name = Trevor D. Miller
  email = 5497885+trevordmiller@users.noreply.github.com
  useconfigonly = true
[github]
  user = trevordmiller
[commit]
  verbose = true
[push]
  default = simple
[core]
  editor = vim
[log]
  date = relative
[help]
  autocorrect = 1
[column]
  ui = auto
[url "https://"]
  insteadOf = git://
